<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h2>Agregar Cliente Nuevo</h2>
    </div>
    <div class="card-body">
      <form class="needs-validation" novalidate>
        <div class="form-group">
          <div class="mb-2">
            <label for="">Nombre del cliente:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="cliente.nombre" type="text" name="name" id="name" maxlength="25" class="form-control" placeholder="Ingrese su nombre y apellido">
          </div>
        </div>
        <div class="form-group">
          <div class="mb-2">
            <label for="">Contraseña del cliente:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="cliente.password" type="text" name="name" id="name" maxlength="25" class="form-control" placeholder="Ingrese password">
          </div>
        </div>
        <div class="form-group">
          <div class="mb-2">
            <label for="">Nit:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="cliente.nit" type="text" name="nit" id="nit" class="form-control" placeholder="Ingrese su nit o c/f">
          </div>
        </div>
        <div class="form-group">
          <div class="mb-2">
            <label for="">Correo:</label>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="cliente.correo" type="text" name="mail" id="mail" class="form-control" placeholder="Ingrese el correo">
          </div>
        </div>
        <div class="form-group">
          <label for="">Teléfono:</label>
          <div class="mb-2">
            <textarea [(ngModel)]="cliente.telefono" name="phone" maxlength="250" class="form-control" placeholder="Ingrese su número de teléfono" required></textarea>
          </div>
        </div>
        <button (click)="save(cliente)" type="button" class="btn btn-outline-success">Guadar</button>
        <span style="margin-left:1em"></span>
        <button (click)="cancel()" type="button" class="btn btn-outline-danger">Cancelar</button>
      </form>
    </div>
  </div>
</div>
